<div class = "faq-box">
	<h1>Frequently Asked Questions</h1>
	<br />
<p>
	<a href='#question1'>What is RoutineTracker?</a>
	<br />
	<a href='#question2'>How does it work?</a>
	<br />
	<a href='#question3'>What are routines and why should I use them?</a>
	<br />
	<a href='#question4'>Do you have any recommendations for creating my own workout routines?</a>
	<br />
	<a href='#question5'>Can other users see my routines and my results?</a>
	<br />
	<a href='#question6'>How can I download my data?</a>
	<br />
	<a href='#question7'>How can I record my workout results?</a>
	<br />
	<a href='#question8'>What happens when the routine I've been using is deleted by its owner?</a>
	<br />
	<a href='#question9'>Why should I use RoutineTracker instead of any of the strength training phone apps available out there?</a>
	<br />
	<a href='#question10'>How can I send feedback?</a>
	<br />
	<a href='#question11'>How much does RoutineTracker cost?</a>
	<br />
</p>
<p>&nbsp;</p>

	<b id="question1">What is RoutineTracker?</b>
	<br />
	<p>RoutineTracker is an online tool that helps you keep track of your strength training progress.</p>
	<br />
	<b id="question2">How does it work?</b>
	<br />
	<p>
		After you sign up for a user account, you can plan your workout by either creating a new workout routine or choosing one of the "public" routines created by another user. To create a new routine, click <span class="faq-link"><%= link_to "New Workout Routine", new_workout_type_path %></span> and enter up to 10 exercises, including the number of sets, the load and the number of reps. Routines that were created by other users and marked as public are listed under <span class="faq-link"><%= link_to "All Public Routines", root_path %></span>. Next, go and do the chosen workout. Or at least, as much of it as you can. To record your results, click <span class="faq-link">Record  Results</span>. You will be taken to a form where you can fill in the results for each set of each exercise in the routine. The best time to do this is in the weight room, after you complete each set. You view the records of past workouts by clicking on <span class="faq-link">My Workout History</span>. 
	</p>
	<br />
	<b id="question3">What are routines and why should I use them?</b>
	<p>
		Routines are sequences of exercises created with a specific goal in mind. The advantages of following a routine, as opposed to deciding on the exercises to do when already in the weight room, are 1) you use your gym time more efficiently by not having to think of which exercise to do next, 2) you will not forget any exercises that you may have decided beforehand are important for achieving your goal, and 3) you easily track the progress of your training by doing the same workout consistently over time. 
	</p>
	<br />
	<b id="question4">Do you have any recommendations for creating my own workout routines?</b>
	<br />
	<p>
		In order to crete your own routines, the first thing to consider is the goal you are trying to achieve with strength training. Are you trying to get stronger in order to improve your performance in specific sport, or to lose/gain weight, or to be stronger overall? The goal will determine the routines that you should choose. The best way to create your routines is to consult an expert source on your particular fitness goal, which might be a personal trainer or a book on strength training. In general, it's a good idea to set a goal that's 5-10% higher than your current best performance. This is a goal that's challenging enough to be exciting, but not so challenging as to seem unrealistic. If you workout consistently and at least once or twice a week, then you should be able to see progress toward your goal as you see the results in <span class="faq-link">My Workout History</span>.
	</p>
	<br />
	<b id="question5">Can other users see my routines and my results?</b>
	<p>
		Other users can see and use your routines if you designate them as "public" when you create the routines. Only you can see and use a routine if it is marked as "private". The access status of a routine is set when you create the routine and it can be changed by going to "View Workout Routines" -> "Edit". The only routines you can edit are the ones you created.
	</p>
	<br />
	<b id="question6">How can I record my workout results?</b>
	<p>
		There are several ways you can start recording results. First, click on either <span class="faq-link">All Public Routines</span> or <span class="faq-link">My Routines</span> on the <span class="faq-link"><%= link_to "RoutineTracker home page", root_path %></span>, find the routine you'd like to use, and click <span class="faq-link">Record Results</span>. Second, go to the list of past workout under <span class="faq-link">My Workout History</span> and click on <span class="faq-link">Repeat</span>. Or, to repeat the last workout you've recorded, click <span class="faq-link">Repeat Last Workout</span>.
	</p>
	<b id="question7">What happens when the routine I've been using is deleted by its owner?</b>
	<p>
		When a workout routine is deleted, it will no longer show up in the list of public routines. However, if this is a routine you've grown to like, no worries! You will still be able to see it and record your results for it by clicking <span class="faq-link">My Workout History</span> -> <span class="faq-link">Repeat</span>.
	</p>
	<br />
	<b id="question8">How can I download my data?</b>
	<p>
		You can download your workout data in either CSV or Excel format by clicking <span class="faq-link">Download workout data</span> on <span class="faq-link">My Workout History</span> page.  
	</p>
	<br />
	<b id="question9">Why should I use RoutineTracker instead of any of the strength training phone apps available out there?</b>
	<br />
	<p>RoutineTracker is not a phone app. This means that you won't have to bother with installing yet another app, it won't clutter up your phone, and your data won't be tied to your phone.</p> 
	<br />
	<b id="question10">How can I send feedback?</b>
	<br />
	<p>The RoutineTracker team is always happy to hear from you! You can email us at routinetracker@gmail.com.</p>
	<br />
	<b id="question11">How much does it cost?</b>
	<br />
	<p>RoutineTracker is absolutely free!</p>
</div>