<%= f.input :name, :placeholder => :name, :input_html => { :value => f.object.name } %>
<%# <%= f.input :sets %>
<%# <%= f.input :reps %>
<%# <%= f.input :load %> 


<table>
  <tr>
    <th>Set</th>
    <th>Reps</th>
    <th>Load</th>
  </tr>
  <tr>
    
  </tr>
</table>