body {
  font-family: "Helvetica Neue", Helvetica;
}

.navbar.navbar-inverse {
	border-radius: 0;
	box-shadow: 5px 10px 10px #888888;
}

.workout-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom: 15px;
  padding:20px;
  text-align: center
}

.table {
  text-align: center;
}

th {
  text-align: center;
}

.clear {
 clear: both;
 }

.link {
  text-align:center
 }

.new-workout-numbers {
  font-weight: bold;
  font-size: 120%;
}

#new-workout-type {
  min-width: 330px;
}

.workout_type-name {
  font-weight: bold;
  font-size: 120%;
}

.navbar.navbar-inverse {
  background: url('/assets/barbell-cropped.jpg');
  font-family: "Helvetica Neue", Helvetica;
}

.navbar-inverse .navbar-brand {
  color: #E01250;
  font-family: 'capture_itregular', sans-serif;
  font-size:30px;
}

.nav .navbar-nav {
  color: #FF0000;
}

.navbar-option a {
  color: #D89EF5;
  font-weight: bold;
  text-shadow: 3px 1px 3px #282828;
}

.navbar-inverse .navbar-nav > li > a {
    color: #24B9D6;
    text-shadow: 3px 1px 3px #282828;
    font-size: 18px; 
}
