body {
  font-family: "Helvetica Neue", Helvetica;
}

.navbar.navbar-inverse {
	border-radius: 0;
	box-shadow: 5px 10px 10px #888888;
}

.navbar-right {
    margin-right: 0px;
}

.workout-box {
  -moz-box-shadow: 1px 1px 3px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 2px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom: 15px;
  padding:20px;
  text-align: center
}

.faq-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin:25px;
  padding:20px;
  text-align: left
}

.account-benefits {
  background: #fff;
  border: 2px solid #24B9D6;
  border-color: #24B9D6;
  border-radius: 5px;
  margin-top:10px;
  margin-bottom: 15px;
  padding:20px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica;
}


.table {
  text-align: center;
  border-radius: 0px;
}

.last_row {
  border-bottom:10px solid #EEE
}

.new_routine tbody tr td {
  border: none;
}

th {
  text-align: center;
}

.clear {
 clear: both;
 }

.back-link {
  text-align:center;
  padding: 10px;
 }

.new-workout-numbers {
  font-weight: bold;
  font-size: 120%;
}

#new-workout-type {
  min-width: 330px;
}

.workout_type-name {
  font-weight: bold;
  font-size: 120%;
}

.navbar.navbar-inverse {
  background: url('/assets/barbell-cropped.jpg');
  font-family: "Helvetica Neue", Helvetica;
}

.navbar-inverse .navbar-brand {
  color: #E01250;
  font-family: 'capture_itregular', sans-serif;
  font-size:35px;
}

.nav .navbar-nav {
  color: #FF0000;
}

.navbar-option a {
  color: #D89EF5;
  font-weight: bold;
  text-shadow: 3px 1px 3px #282828;
}

.navbar-inverse .navbar-nav > li > a {
    color: #24B9D6;
    text-shadow: 3px 1px 3px #282828;
    font-size: 18px; 
}

.current-user {
  color: #24B9D6;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 3px 1px 3px #282828;
  margin: 15px;
}

a.btn.btn-primary {
  margin: 3px;
}

.slogan {
  padding: 15px;
}

.faq-link {
  color: #24B9D6;
  font-weight: bold;
}

.exercise-name {
  font-weight: bold;
  font-size: 120%;
  margin-bottom: 5px;
}

.search-box {
  margin: 10px;
}

.download-link {
  margin-bottom: 10px;
}

.sign-in {
  padding: 15px;
}

.social-buttons {
  text-align: center;
  height:100px;
  padding: 5%;
}

.social-button {
  margin: 10px;
  width:24px;
}

.todays-results {
  color: #24B9D6
}

.exercise-name {
  border-radius: 0;
  margin-bottom: 0;
}

.routine-type-heading {
  margin-left: 15px;
  font-weight: bold;
}
